.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 20rem;
    border-radius: 20px;
    height: 100%; 
}

.card-img-top {
    height: 300px; 
    object-fit: cover; 
    width: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}
